#dashboard-container {
    display: flex;
    justify-content: center;
  }
  
  #video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  
  .video {
    width: 100%;
    height: auto;
  }
  