#dashboard-container {
    display: flex;
    justify-content: center;
  }
  
  #video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  
  .video {
    margin-top: 2vh;
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
  }
  