.nav
{
    display: flex;
    justify-content:space-between;
  width: auto;
  height: 50px;
  background-color:rgba(0,0,0,0.6) ;
  align-items: center;
  
}

.logo
{
   margin-left: 10px;
    height: 60px;
    width: 60px;
    align-items: center;
}

.btn
{
    margin-right: 10px;
    color: white;
    font-weight: 600;
    background-color: red;
    height: 40px;
    
    
}

