.video-controls
{
    top: 80vh !important;
    left: 44% !important;
    position: absolute;
}
@media (max-width: 767px) {
    .video-controls {
        top: 70vh !important;
    }
}

button {
    background-color: #2196f3;
    margin: 3px;
    height: 3em;
    width: 9em;
    border-radius: 5em;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.container-recorder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 10vh;
}