.start-button-container {
    position: absolute;
    top: 70vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

.start-card {
  left: 50%;
  z-index: 999;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

  .start-button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #2196f3;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
  }
  
  .start-button:hover {
    background-color: #2196f3;
    
  }

  .mdc-button
  {
    background-color: #2196f3;
    color: white !important;
    
  }

  .mdc-button-danger
  {
    background-color: #f3212c;
    color: white !important;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
   
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .settings-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    max-width: 600px;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .settings-form h2 {
    grid-column: 1 / 4;
    text-align: center;
    margin: 0;
  }
  
  .settings-form .form-group {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
  }
  
  .settings-form .form-group label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .settings-form .form-group p {
    margin: 0;
    font-weight: bold;
  }

.form-group input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 2px solid #2196f3;
  border-radius: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
  
  .form-group button[type="submit"] {
    grid-column: 1 / 4;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .settings-form button[type="submit"]:hover {
    background-color: #0d8cf0;
  }
  
  
