.start-button-container {
    position: absolute;
    top: 70vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  
  .start-button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #2196f3;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
  }
  
  .start-button:hover {
    background-color: #2196f3;
    
  }

  .mdc-button
  {
    background-color: #2196f3;
    color: white !important;
    
  }

  .mdc-button-danger
  {
    background-color: #f3212c;
    color: white !important;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
   
  }


  
